<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Course</strong>
    <%= evaluation.course.title %>
  </p>

  <p>
    <strong>Student</strong>
    <%= evaluation.student.fullname %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= number_with_precision(evaluation.grade, precision: 2) %>
  </p>

  <p>
    <strong>Teacher</strong>
    <%= evaluation.teacher.fullname %>
  </p>

  <p>
    <strong>Created at</strong>
    <%= evaluation.created_at %>
  </p>
</div>
