<div class="flex w-full items-center justify-center">
  <div>
    <h2 class="text-2xl">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "w-full flex flex-col space-y-6 md:w-96"}, data: { turbo: false } ) do |f| %>
      <% flash.each do |type, msg| %>
       <% puts  "TYPE ==> #{type}" %>
        <%= render "shared/message", message: msg, type: type %>
      <% end %>

      <div>
        <div>
          <%= f.label :email, class: "block" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: "block" %><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "block" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
      </div>

      <div class="field flex flex-col w-full basis-full">
        <%= f.label :type, class: "block" %><br />
        <%= f.select :type, ["Student", "Teacher"], class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
      </div>

      <%= f.submit "Signup" , class: "submit-button" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>