<%= form_with(model: evaluation, html: {class: "flex flex-col space-y-4"}) do |form| %>
  <% if evaluation.errors.any? %>
    <% course.errors.each do |error| %>
      <%= render "shared/message", message: error.full_message, type: "error" %>
    <% end %>
  <% end %>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.text_field :grade, class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
  </div>

  <%= form.submit class: "submit-button mt-4" %>
<% end %>
