<%= form_with(model: exam, html: {class: "flex flex-col space-y-4"}) do |form| %>
  <% if exam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight, class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
  </div>

  <div>
    <%= form.label :passed_at, style: "display: block" %>
    <%= form.datetime_field :passed_at, class: "w-full px-4 py-3 border-2 border-gray-200 rounded-lg text-lg" %>
  </div>

  <div class="submit-button mt-4">
    <%= form.submit %>
  </div>
<% end %>
