<% flash.each do |type, msg| %>
  <%= render "shared/message", message: msg, type: type %>
<% end %>

  <h2 class="h2">Exam details</h2>
<%= render @exam %>

<div class="flex flex-col space-y-4">
  <div>
    <%= link_to "Edit this exam", edit_exam_path(@exam), class: "link" %> |
    <%= link_to "Go back", :back, class: "link" %>
  </div>

  <div class="mt-4">
    <%= button_to "Delete this exam", @exam, method: :delete, class: "submit-button" %>
  </div>

  <div class="w-full flex flex-col items-center">
    <h2 class="h2">Evaluations</h2>
    <div class="flex flex-col space-y-4 w-full max-w-2xl">
      <div id="evaluations" class="flex flex-col space-y-4">
        <% @exam.evaluations.each do |evaluation| %>
          <div class="border border-gray-200 rounded-md p-2">
            <%= render evaluation %>
            <p>
              <%= link_to "Show this evaluation", evaluation, class: "link" %>
            </p>
          </div>
        <% end %>
      </div>

      <% if current_person.teacher? %>
        <%= link_to "Add evaluation", new_exam_evaluation_path(@exam), class: "submit-button" %>
      <% end %>
    </div>
  </div>

</div>
